
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Listagem de Fechamento - RPL</h4>
        </div>
        <div class=" card-header">
          <button class=" btn btn-fill btn-twitter" [routerLink]="['/fecharocorrenciarpl']"> Adicionar </button>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>LINHA</th>
                  <th>ÁREA ACIONADA</th>
                  <th>FECHADO POR</th>
                  <th class="text-center">FIM DA PARADA</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>DR872</td>
                  <td>Engenharia de Processos</td>
                  <td>Mario Yamasaki</td>
                  <td class="text-center">11:10</td>
                </tr>
                <tr>
                  <td>TRD 897</td>
                  <td>Engenharia Mecânica</td>
                  <td>Paulo Guedes</td>
                  <td class="text-center">09:07</td>
                </tr>
                <tr>
                  <td>HRG 456</td>
                  <td>Engenharia Eletrônica</td>
                  <td>Jair Bolsonaro</td>
                  <td class="text-center">08:00</td>
                </tr>
                <tr>
                  <td>Philip Chaney</td>
                  <td>Tecnologia da Informação</td>
                  <td>Robervald Sidrome</td>
                  <td class="text-center">10:00</td>
                </tr>                               
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>