
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Listagem de Parada de Linha - RPL</h4>
        </div>
        <div class=" card-header">
          <button class=" btn btn-fill btn-twitter" [routerLink]="['/registroparada']"> Adicionar </button>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>MODELO</th>
                  <th>LINHA</th>
                  <th>QUEM REGISTROU</th>
                  <th>Área acionada</th>
                  <th class=" text-center"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>DR872</td>
                  <td>ALPHA 1</td>
                  <td>Mario Yamasaki</td>
                  <td>Engenharia de Processos</td>
                </tr>
                <tr>
                  <td>TRD 897</td>
                  <td>Omega 2</td>
                  <td>Paulo Guedes</td>
                  <td>Engenharia Mecânica</td>
                </tr>
                <tr>
                  <td>HRG 456</td>
                  <td>SSD 4</td>
                  <td>Jair Bolsonaro</td>
                  <td>Engenharia Eletrônica</td>
                </tr>
                <tr>
                  <td>Philip Chaney</td>
                  <td>HD 8</td>
                  <td>Robervald Sidrome</td>
                  <td>Tecnologia da Informação</td>
                </tr>                               
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>